@import "tailwindcss";

:root {
  --background: #F0FDF4;
  --foreground: #1E293B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #16A34A;
  --color-secondary: #4ADE80;
  --color-primary-text: #1E293B;
  --font-default: 
  --font-exo2: var(--font-exo2-sans);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E293B;
    --foreground: #F0FDF4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--exo2);
}
